body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.App {
  position: relative;
  overflow: hidden;
  padding: 16px;
  border: 1px dashed green;
}

.game {
  position: relative;
  z-index: 2;
}

.App img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.3;
}


ol, ul {
  padding-left: 30px;
}



